<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->
<body>
    <div class="nav-bar">
        <a href="/" class="icon">
            <div class="hide"><h2>Home</h2></div>
            <div class="icons"><i class="fa-solid fa-house"></i></div>
        </a>
        <a href="/about" class="icon">
            <div class="hide"><h2>About</h2></div>
                <div class="icons"><i class="fa-solid fa-user "></i></div>
        </a>
        <a href="/skills" class="icon">
            <div class="hide"><h2>Skills</h2></div>
                <div class="icons"><i class="fa-solid fa-bars-progress "></i></div>
        </a>
        <a href="/projects" class="icon">
            <div class="hide"><h2>Project</h2></div>
                <div class="icons"><i class="fa-solid fa-briefcase "></i></div>
        </a>
        <a href="/contact" class="icon">
            <div class="hide"><h2>Contact</h2></div>
                <div class="icons"><i class="fa-solid fa-comments "></i></div>
        </a>
    </div>
</body>
<!-- </html> -->