*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-color: #111;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 3rem 1rem 2rem 1rem;
    text-align: center;
}
.heading h1{
    width: 100%;
    margin-top: 2rem;
    margin-left: -1rem;
    text-align: center;
    font-size: 6.875rem;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
}
.heading h2{
    font-size: 3.5rem;
    padding-top: 1.8rem;
    font-weight: 900;
    text-align: center;
}
.heading span{
    color: #ffc107;
}
main{
    background-color: #111;
    height: 80vh;
    width: 100vw;
    display: flex;
}
main div{
    color: #fff;
    height: 60%;
    width: 27%;
    margin: 10px 20px 0 10px;
    padding: 2rem 0 3rem 0;
}
main h3{
    overflow: visible;
    color: #fff;
    font-size: 1.625rem;
    font-weight: 600;
}
.personal-info, .personal-info2 ul li span{
    line-height: 2.9;
    font-size: 1.2rem;
}
.personal-info ul, .personal-info2 ul {
    list-style-type: none;
}
.personal-info{
    padding-left: 5rem;
    padding-right: 0;
    margin-right: 0;
    width: 28%;
    margin-left: 5rem;
}
.personal-info2{
    padding-left: 1rem;
    padding: 6rem 0 3rem 0rem;
    width: 25%;
    margin-right: 0;
}
.expro{
    display: flex;
    flex-direction: column;
    height: 80%;
}
#experience, #projects{
    padding-top: 1rem;
    width: 95%;
    justify-content: space-evenly;
    border: 1px solid #333;
}
#experience h3, #projects h3{
    font-size: 3.5rem;
    color: #ffc107;
}
#experience span, #projects span{
    font-size: 1.5rem;
}
#experience, #projects{
    padding: 1.5rem;
    margin: 0 0 2rem 0;
}
#experience:hover, #projects:hover{
    box-shadow: 5px 5px 10px 2px rgba(51, 51, 51, 1);
}
.education{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.heading3{
    width: 100%;
    height: 3%;
    padding: 0rem;
    color: #fff;
    text-align: center;
    font-size: 1.85rem;
    font-weight: 600;
}
.timeline{
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-left: 18rem;
    padding: 0;
}
#college, #twelth, #tenth{
    display: flex;
    width: 80%;
    margin: 0;
    padding: 0;
    height: 12.5rem;
    padding-right: 0;
}
#icon{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: 100%;
    padding: 1rem 0rem 1rem 1rem;
}
#info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin-left: 0;
    padding: 1rem 1.5rem 1.5rem 0rem;
}
.vertical-line{
    border-left: 2px solid #333;
    height: 80px; 
    margin-left: 1.5rem;
    margin-top: 0rem;
}    
#i{
    background-color: #ffc107;
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 1.02rem 0.8rem 0.8rem 0.9rem;
    height: 50px;
    width: 50px;
    text-align: center;
    z-index: 1;
}
#year{
    color: #fff;
    font-size:0.81rem;
    padding: 0.45rem 0.4rem 0.2rem 0.4rem;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: 0.85;
    width: 6rem;
    height: 2rem;
}
#type{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 2.5px;
}
#study{
    opacity: 0.85;
    text-transform: none;
}
#info p{
   margin-bottom: 2.5px;
}   
#gpa, #percentage{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 2.5px;
}
#value{
    opacity: 0.85;
}