*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
main {
    background-color: #111;
    color: #fff;
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.contact, .form{
    padding: 0.5rem;
}
.heading h1{
    width: 100%;
    margin-top: 3.5rem;
    margin-left: 1rem;
    text-align: center;
    font-size: 6.875rem;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
}
.heading h2{
    color: #fff;
    width: 100%;
    padding: 3.3rem 0rem 2rem 2rem;
    text-align: center;
    font-size: 3.5rem;
    z-index: 1;
    font-weight: 900;
}
.heading h2 span{
    color: #ffc107;
}
.content{
    display: flex;
    width: 80%;
    margin-left: 6rem;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0 20px 40px;
}
.form{
    margin-top: 20px;
}
.contact h3{
    font-size: 1.4rem;
    padding: 2rem 1rem 0 1rem;
}
.contact h3:hover{
    color: #ffc107;
}
.contact p{
    font-size: 1.1rem;
    padding: 0 1rem 1rem 1rem;
}
.contact-info{
    display: flex;
    padding: 1rem 1rem 0 1rem;
}
.contact-info i{
    font-size: 2rem;
    color: #ffc107;
    padding-right: 1rem;
}
.contact-info h4{
    margin-left: 15px;
}
a:visited{
    color: #fff;
    opacity: 0.9;
}
#icons{
    display: flex;
    padding: 0 1rem 1rem 1rem ;
}
#linkedin{
    margin-right: 20px;
}
#linkedin, #github{
    background-color: #333;
    padding: 15px 22px;
    font-size: 1.5rem;
    opacity: 0.9;
    border-radius: 50%;
}
#linkedin:hover, #github:hover{
    background-color: #ffc107;
    color: #fff;
    opacity: 1;
}
main div .btn{
    border: 1px solid #ffc107;
    border-radius: 2.1875rem;
    line-height: 1.4;
    width: 17rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none ;
    position: relative;
    z-index: 1;
    padding: 0.9rem 3.8rem 0.9rem 1.1rem;
    margin: 1rem ;
    font-size: 1.2rem;
    font-weight: 900;
    font-weight: 800;
    color: #fff;
    background-color: transparent;
}
.btn:hover{
    background-color: #ffc107;
}
main div .btn span{
    background-color: #ffc107;
    border-radius: 44%;
    padding: 0.80rem 1.2rem ;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.form .form-group1 input, .form .form-group2 input, .form .form-group3 input, .form .form-group4 input, .form .form-group1 textarea, .form .form-group2 textarea, .form .form-group3 textarea, .form .form-group4 textarea  {
    background-color: #333;
    border: none;
    font-size: 0.8rem;
    color: #fff;
    overflow: auto;
}
.form form{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 700px;
}
.form-group1, .form-group2, .form-group3, .form-group4 {
    margin-bottom: 1em;
}
.form-group1 input, .form-group2 input, .form-group3 input, .form-group4 input,
.form-group1 textarea, .form-group2 textarea, .form-group3 textarea, .form-group4 textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 30px;
    outline: none;
    color: white; 
    background-color: #252525;
    height: 60px;
}
.form-group1 input:focus, .form-group2 input:focus, .form-group3 input:focus, .form-group4 input:focus,
.form-group1 textarea:focus, .form-group2 textarea:focus, .form-group3 textarea:focus, .form-group4 textarea:focus{
    font-size: 1.2rem; 
    outline: none; 
    transition: font-size 0.2s ease-in-out; 
}
.form-group1 input::placeholder, .form-group2 input::placeholder, .form-group3 input::placeholder, .form-group4 input::placeholder, 
.form-group1 textarea::placeholder, .form-group2 textarea::placeholder, .form-group3 textarea::placeholder, .form-group4 textarea::placeholder {
    color: #fff;
    opacity: 0.8;
    font-size: 1.1rem;
}
.form-group1, .form-group2, .form-group3{
    width: 200px;
    margin-top: 20px;
}
.form-group4{
    width: 650px;
}
.form-group1 input, .form-group2 input, .form-group3 input{
    padding: 11px 20px;
    
}
.form-group4 textarea{
    height: 200px;
    padding: 11px 26px;
}
.form-group1:hover, .form-group2:hover, .form-group3:hover{
    box-shadow: 0px 4px 12px rgba(76, 76, 76, 0.5);
    border-radius: 30px;
}