*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
main{
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 550vh;
    width: 100vw;
    padding-left: 3rem;
}
.heading h1{
    width: 100%;
    margin-top: 3.3rem;
    margin-left: -1.3rem;
    text-align: center;
    font-size: 6.875rem;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
}
.heading h2{
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 3rem 1rem 2rem 1rem;
}
.heading h2 span {
    color: #ffc107;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 130%;
    margin-left: 13rem;
}
#lang{
    display: flex;
    flex-wrap: wrap;
}
.projects div a {
    text-decoration: none;
    color: #fff;
}
.projects div a:visited {
    text-decoration: none;
    color: #fff;
}
.projects div{
    background: linear-gradient(#252525, #000000);
    margin: 20px 0 20px 20px;
    padding: 5px;
    border-radius: 30px;
}
.projects .p:hover{
    box-shadow: 0px 4px 12px rgba(76, 76, 76, 0.5);
}
#project-image1{
    background-image: url(projects/Image\ 14-11-24\ at\ 8.03\ PM.jpg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
#project-image2{
    background-image: url(projects/Screenshot\ 2024-11-14\ at\ 8.04.33\ PM.jpeg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
#project-image3{
    background-image: url(projects/Screenshot\ 2024-11-14\ at\ 8.10.09\ PM.jpeg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
#project-image4{
    background-image: url(projects/Image\ 14-11-24\ at\ 8.17\ PM.jpg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
#project-image5{
    background-image: url(projects/Image\ 14-11-24\ at\ 8.15\ PM.jpg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
#project-image6{
    background-image: url(projects/Screenshot\ 2024-11-14\ at\ 8.08.13\ PM.jpeg);
    background-size: cover;
    width: 50rem;
    height: 25rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.projects div a h3{
    font-size: 1.5rem;
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;
}
#lang{
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 10px;
}
#lang span{
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 2px solid rgba(255, 193, 7, 0.7);
    font-size: 0.9rem;
    margin: 3px;
    padding: 7px 5px;
    text-align: center;
    border-radius: 30px;
}
#lang span:hover{
    background-color: rgba(255, 193, 7, 0.9);;
}