<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/assets/IMG_6050-removebg-preview.ico">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body">
    <%- include("../includes/nav.ejs") %>
    <div class="heading">
        <h1>RESUME</h1>
        <h2>ABOUT <span>ME</span></h2>
    </div>
    <main class="about-info">
        <div class="personal-info">
            <h3 class="heading2">PERSONAL INFORMATION</h3>
            <ul>
                <li>
                    <span id="key">
                        First Name :
                    </span> 
                    <span id="value"> Akanksha</span>
                </li>
                <li>
                    <span id="key">
                        Last Name : 
                    </span>
                    <span id="value"> Anand</span>
                </li>
                <li>
                    <span id="key">
                        Nationality 
                    </span>: 
                    <span id="value"> Indian</span>
                </li>
                <li>
                    <span id="key">
                        Languages : 
                    </span>
                    <span id="value"> English, Hindi</span>
                </li>
            </ul>
        </div>
        <div class="personal-info2">
            <ul>
                <li>
                    <span id="key">
                        Phone :
                    </span> 
                    <span id="value"> +91 9315944462</span>
                </li>
                <li>
                    <span id="key">
                        Email :
                    </span> 
                    <span id="value"> akankshaanand@gmail.com</span>
                </li>
                <li>
                    <span id="key">
                        Freelance
                    </span> : 
                    <span id="value"> Available</span>
                </li>
                <li>
                    <span id="key">
                        Internship
                    </span> : 
                    <span id="value"> Available</span>
                </li>
            </ul>
        </div>
        <div class="expro">
            <div id="experience">
                <h3>2 <sup>+</sup></h3>
                <span>&nbsp;&nbsp;<i class="fa-solid fa-minus"></i>&nbsp;&nbsp;YEARS OF EXPERIENCE</span>
            </div>
            <div id="projects">
                <h3>10 <sup>+</sup></h3>
                <span>&nbsp;&nbsp;<i class="fa-solid fa-minus"></i>&nbsp;&nbsp;PROJECTS COMPLETED</span>
            </div>
        </div>
    </main>
    <main class="education">
        <div class="heading3">
            <h3>EDUCATION</h3>
        </div>
        <div class="timeline">
            <div id="college">
                <div id="icon">
                    <i id="i" class="fa-solid fa-graduation-cap"></i>
                    <div class="vertical-line"></div>
                </div>
                <div id="info">
                    <span id="year">2022-2026</span>
                    <h4 id="type">Engineering degree <span id="study"> - SRM Institute of Science and Technology</span></h4>
                    <p>I'm a third year student currently pursuing B.Tech in Computer Science from SRMIST.</p>
                    <h5 id="gpa">SGPA <span id="value"> - 9.24</span></h5>
                </div>
            </div>
            <div id="twelth">
                <div id="icon">
                    <i id="i" class="fa-solid fa-graduation-cap"></i>
                    <div class="vertical-line"></div>
                </div>
                <div id="info">
                    <span id="year">2021-2022</span>
                    <h4 id="type">12 <sup>th</sup><span id="study"> - Summer Fields School</span></h4>
                    <p>I did my 12<sup>th</sup> from SFS, Kailash Colony. My stream was PCM with Computer Science</p>
                    <h5 id="percentage">Percentage <span id="value"> - 87%</span></h5>
                </div>
            </div>
            <div id="tenth">
                <div id="icon">
                    <i id="i" class="fa-solid fa-graduation-cap"></i>
                    <div class="vertical-line"></div>
                </div>
                <div id="info">
                    <span id="year">2019-2020</span>
                    <h4 id="type">10 <sup>th</sup><span id="study"> - Summer Fields School</span></h4>
                    <p>I did my 10<sup>th</sup> from SFS, Kailash Colony. I had keen interest in Physics and Mathematics and took up Science stream.</p>
                    <h5 id="percentage">Percentage <span id="value"> - 94%</span></h5>
                </div>
            </div>
        </div>
    </main>
</body>
</html>