<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akanksha Anand Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/assets/IMG_6050-removebg-preview.ico">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body>
    <%- include("../includes/nav.ejs") %>
    <main>
        <div class="bg-yellow"></div>
        <div class="img"></div>
        <div class="content">
            <h1><i class="fa-solid fa-minus"></i> Akanksha Anand
                <div class="animate">
                    <div id="typed-output"></div>
                </div>
            </h1>
            <p>Hello! My name is Akanksha Anand, a tech enthusiast and web developer with a passion for creating dynamic and user-friendly web experiences. I thrive on working on projects that allow me to explore new skills and technologies, and I’m a quick learner and quickly adapt to new situations. With a foundation in web development and a knack for problem-solving, I enjoy tackling challenges and continuously learning new skills. When I’m not coding, you’ll likely find me playing Sudoku, or diving into a good crossword. Welcome to my portfolio, and I’m excited to share my projects with you!</p>
            <a href="/assets/resume akanksha anand.pdf" download="">
                <button class="btn">
                    Resume
                    <span class="resume">
                        <i class="fa-solid fa-arrow-down"></i>
                    </span>
                </button>  
            </a>  
        </div>
        <!-- <div class="nav-bar">
            <a href="index.html" class="icon">
                <div class="hide"><h2>Home</h2></div>
                <div class="icons"><i class="fa-solid fa-house"></i></div>
            </a>
            <a href="navbar/about.html" class="icon">
                <div class="hide"><h2>About</h2></div>
                    <div class="icons"><i class="fa-solid fa-user "></i></div>
            </a>
            <a href="navbar/skills.html" class="icon">
                <div class="hide"><h2>Skills</h2></div>
                    <div class="icons"><i class="fa-solid fa-bars-progress "></i></div>
            </a>
            <a href="navbar/project.html" class="icon">
                <div class="hide"><h2>Project</h2></div>
                    <div class="icons"><i class="fa-solid fa-briefcase "></i></div>
            </a>
            <a href="navbar/contact.html" class="icon">
                <div class="hide"><h2>Contact</h2></div>
                    <div class="icons"><i class="fa-solid fa-comments "></i></div>
            </a>
        </div> -->
    </main>
      <script>
        var options = {
          strings: ["&nbsp;&nbsp;Full Stack Developer", "&nbsp;&nbsp;Software Engineer"],
          typeSpeed: 80,
          backSpeed: 50,
          backDelay: 0,
          startDelay: 0,
          loop: true
        };
    
        var typed = new Typed("#typed-output", options);
      </script>
    <script src="script.js"></script>
</body>
</html>