<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="icon" type="image/x-icon" href="/assets/IMG_6050-removebg-preview.ico">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/project.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body">
    <%- include("../includes/nav.ejs") %>
    <main class="main">
        <div class="heading">
            <h1>WORKS</h1>
            <h2>MY <span>PROJECTS</span></h2>
        </div>
        <div class="projects">
            <div class="p">
                <a href="https://github.com/akankshaa-2512/Akanksha-s-Portfolio" target="_blank">
                    <h3>PORTFOLIO</h3>
                    <div id="project-image1"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                        <span>Node.js</span>
                        <span>Express.js</span>
                        <span>EJS</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/Medica---Medical-Chatbot" target="_blank">
                    <h3>Medica</h3>
                    <div id="project-image2"></div>
                    <div id="lang">
                        <span>Python</span>
                        <span>API Key</span>
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Pinecone</span>
                        <span>Flask</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/Vibely-social-media-application" target="_blank">
                    <h3></h3>
                    <div id="project-image3"></div>
                    <div id="lang">
                        <span>React</span>
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                        <span>Node.js</span>
                        <span>Express.js</span>
                        <span>JWT</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/e---commerce-website" target="_blank">
                    <h3>E-COMMERCE WEBSITE</h3>
                    <div id="project-image4"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/tic-tac-toe-game" target="_blank">
                    <h3>TIC TAC TOE GAME</h3>
                    <div id="project-image5"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/keylogger" target="_blank">
                    <h3>KEYLOGGER</h3>
                    <div id="project-image6"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/expense-tracker" target="_blank">
                    <h3>EXPENSE TRACKER</h3>
                    <div id="project-image7"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                    </div>
                </a>
            </div>
            <div class="p">
                <a href="https://github.com/akankshaa-2512/portfolio" target="_blank">
                    <h3>PORTFOLIO DEMO</h3>
                    <div id="project-image8"></div>
                    <div id="lang">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>