<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="skills.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <div id="heading">
            <h1>LANGUAGES</h1>
            <h2>MY <span id="yellow">SKILLS</span></h2> 
        </div>
        <div class="skills">
            <div id="skills-list">
                <div id="circle"><span>90%</span><img class="logo1" src="skills logo/html.png" alt=""></div>
                <div id="name"><span>HTML <i class="fa-brands fa-html5"></i></span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>92%</span><img class="logo1" src="skills logo/css.png" alt=""></div>
                <div id="name"><span>CSS <i class="fa-brands fa-css3-alt"></i> </span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>85%</span><img class="logo1" src="skills logo/js.png" alt=""></div>
                <div id="name"><span>Javascript <i class="fa-brands fa-js"></i></span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo2" src="skills logo/node.png" alt=""></div>
                <div id="name"><span>Node.js <i class="fa-brands fa-node-js"></i></span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo3" src="skills logo/express.png" alt=""></div>
                <div id="name"><span>Express.js</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>75%</span><img class="logo4" src="skills logo/ejs.PNG" alt=""></div>
                <div id="name"><span>EJS</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>70%</span><img class="logo4" src="skills logo/react-native.png" alt=""></div>
                <div id="name"><span>React.js</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>65%</span><img class="logo4" src="skills logo/mongo.png" alt=""></div>
                <div id="name"><span>MongoDB</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>70%</span><img class="logo4" src="skills logo/mysql.png" alt=""></div>
                <div id="name"><span>SQL</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>70%</span><img class="logo4" src="skills logo/java.png" alt=""></div>
                <div id="name"><span>Java</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>65%</span><img class="logo4" src="skills logo/python.PNG" alt=""></div>
                <div id="name"><span>Python</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>60%</span><img class="logo2" src="skills logo/c++.PNG" alt=""></div>
                <div id="name"><span>C++</span></div>
            </div>
            <!-- <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo4" src="skills logo/problem.JPG" alt=""></div>
                <div id="name"><span>Problem Solving</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo4" src="skills logo/comm.JPG" alt=""></div>
                <div id="name"><span>Communication</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo4" src="skills logo/team.PNG" alt=""></div>
                <div id="name"><span>Teamwork</span></div>
            </div>
            <div id="skills-list">
                <div id="circle"><span>80%</span><img class="logo4" src="skills logo/lead.JPG" alt=""></div>
                <div id="name"><span>Leadership</span></div>
            </div> -->
        </div>
    </main>
   <script src="skills.js"></script>
</body>
</html>